/.lgd-nfy0
/Super_Mario_Bros.zip
/bak
/bin
/f_patched.txt
/f_to_f2.patch
/fichier.txt
/fichier2.txt
/fichier2_sorted
/fichier2_sorted.txt
/fichier_sorted.txt
/fichier_sorted.txt.rej
/fichiers_joined.txt
/flash.html
/include
/jswifi.js
/jswifi2.js
/lib
/log.txt
/mario.cdl
/mario.nes
/mario.nes.ram.nl
/nes_driver.sh
/nesdriver.py
/node_red
/opencv.py
/opencv_live.py
/pyvenv.cfg
/robot_rond_manette.py
/robot_rond_moteurs.py
/send_email.py
/servo_control.py
/setpythonpath.sh
/templates
/test.py
/lib64